.chatpage-title {
    text-align: center;
}

div.card-body {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
}
.card {
    padding: 20px 20px;
}

.timestamp{
    background-color: #2E294E;
    color:#fff;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
}

h5.card-title {
    margin-bottom: 1rem;
}

p.card-text {
    margin-bottom: 0rem;
}

.post-log{
    padding: 10px 15px;
}

.rower{
    margin-top: 20px;
}

.profile .card{
 padding-left:10px !important;
 padding-right:10px !important;
}

.card-img-top{
    border: 1px solid rgb(43, 43, 43);
    margin-bottom: 2rem;
}