
.menu-bg{
    background-image: url('../img/homepage.jpg');
    height: 100%;
    width: 100%;
    box-shadow: 0 3000px rgba(46,41,78, 0.4) inset;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-caption{
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    padding: 5px 0px;
    
}
.shadow{
    background-color: rgba(17, 17, 17, 0.4);
}

.menu-caption h1{
    text-align: center;
    color: #fff;
}

.menu-button{
    display: block;
    margin: 10px auto 0 auto;
}

.btn-menu-text{
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 400;
}

a, a:hover{
    text-decoration: none;
}

h6.caption-end{
    padding-bottom: 8px;
}

.menu-caption h6{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(228, 228, 228);
}

main{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
