body{
    background-color:#2E294E;
    color:#353535;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    color:#252323;
    background-color:#FFFFFF;
    padding: 50px 250px 35px 250px; /* hard coded */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width:70%;
    height:100%;
}

.text-container{
    margin-bottom:20px;
}

.input-group-text{
    background-color: #6C757D;
    color: #FFFFFF;
}

#amountRow{
    margin-top: 20px;
    margin-bottom: 10px;
}

.dropdown-menu a{
    -moz-transition:    all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition:      all 300ms ease;
    -ms-transition:     all 300ms ease;
    transition:         all 300ms ease;
}

.dropdown-menu a:hover{
    background-color:#6C757D;
    color:#FFFFFF;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #007BFF;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 10px auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
